In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set(style = "whitegrid", 
        color_codes = True,
        font_scale = 1.5)

In [2]:
#import data

test = pd.read_csv('data/national_parks_biodiversity_species.csv')

C:\Users\Doug\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
test['Conservation Status'].value_counts()

# data is malformed?

Species of Concern     3843
Endangered              374
Under Review            194
Threatened              184
In Recovery              77
Proposed Endangered      24
Breeder                   7
Proposed Threatened       7
Resident                  5
Migratory                 2
Extinct                   1
Name: Conservation Status, dtype: int64

In [4]:
test[test['Conservation Status']=='Breeder']

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
31826,EVER-1454,Everglades National Park,Reptile,Testudines,Cheloniidae,Caretta caretta,Loggerhead,Cabezon,Approved,Present,Native,Rare,Breeder,Threatened
44640,GRSA-1043,Great Sand Dunes National Park and Preserve,Mammal,Rodentia,Cricetidae,Peromyscus maniculatus,Deer Mouse,White-Footed Mouse,Approved,Present,Native,Rare,Breeder,NaN
44666,GRSA-1069,Great Sand Dunes National Park and Preserve,Bird,Accipitriformes,Accipitridae,Accipiter gentilis,Goshawk,Northern Goshawk,Approved,Present,Native,Rare,Breeder,NaN
44705,GRSA-1108,Great Sand Dunes National Park and Preserve,Bird,Caprimulgiformes,Caprimulgidae,Phalaenoptilus nuttallii,Poor-Will,Common Poorwill,Approved,Present,Native,Uncommon,Breeder,NaN
44744,GRSA-1147,Great Sand Dunes National Park and Preserve,Bird,Passeriformes,Aegithalidae,Psaltriparus minimus,Common Bushtit,Bushtit,Approved,Present,Native,Uncommon,Breeder,NaN
44859,GRSA-1262,Great Sand Dunes National Park and Preserve,Bird,Passeriformes,Turdidae,Turdus migratorius,American Robin,Robin,Approved,Present,Native,Common,Breeder,NaN
44924,GRSA-1327,Great Sand Dunes National Park and Preserve,Fish,Salmoniformes,Salmonidae,Salvelinus fontinalis,Brook Trout,Speckled Trout,Approved,Present,Not Native,Common,Breeder,NaN

In [5]:
#looks like data is offset in some areas. Look at approved column to see which ones are offset.
display(test['Record Status'].value_counts())
display(test[test['Record Status']=='None']) # None is also a mistake

Approved                86254
In Review               32937
None                        6
 Fringed Sage               1
 Wild Iris                  1
 Northern Goshawk           1
 Cabezon                    1
 Golden Pea                 1
 Willowherb                 1
 Wapiti                     1
 American Crow              1
 Bushtit                    1
 Purple Cockle              1
 Devil's Shoelaces          1
 Robin                      1
 Manati                     1
 Shadbush                   1
 Cocodrilo De Tumbes        1
 Leather Flower             1
 Chico                      1
 Downy Chess                1
 *                          1
 Bluebell                   1
 Skunkbush                  1
 Whortleberry               1
 Wiregrass                  1
 Osha                       1
 Cranesbill                 1
 Skyrocket Gilia            1
 Short-Tailed Weasel        1
 Wild Rose                  1
 Liver Leaf*                1
 Dames Rocket               1
 Speckled Trout             1
 Filaree                    1
 Goosefoot                  1
 Northern Pintail           1
 Ranchers' Fireweed         1
 Common Mullein             1
 Verdolagas                 1
 Speedwell                  1
 Storksbill                 1
 White-Footed Mouse         1
 Rushpink                   1
 Cenizo                     1
 Claret Cup                 1
 Kinnikinnick               1
 Clover Bush                1
 Ground Daisy               1
 Catbird                    1
P.Nut Sedge                 1
 Grass-Leaf Loco            1
 Common Poorwill            1
 Pigeon Hawk                1
Name: Record Status, dtype: int64

,Species ID,Park Name,Category,Order,Family,Scientific Name,Common Names,Record Status,Occurrence,Nativeness,Abundance,Seasonality,Conservation Status,Unnamed: 13
96934,ROMO-3981,Rocky Mountain National Park,Fungi,Trichiales,Trichiaceae,Arcyria,pomiformis,None,In Review,Present,NaN,NaN,NaN,NaN
96943,ROMO-3990,Rocky Mountain National Park,Fungi,Trichiales,Trichiaceae,Trichia,alpina,None,In Review,Present,NaN,NaN,NaN,NaN
96944,ROMO-3991,Rocky Mountain National Park,Fungi,Trichiales,Trichiaceae,Trichia,botrytis,None,In Review,Present,NaN,NaN,NaN,NaN
96945,ROMO-3992,Rocky Mountain National Park,Fungi,Trichiales,Trichiaceae,Trichia,sordida,None,In Review,Present,NaN,NaN,NaN,NaN
96946,ROMO-3993,Rocky Mountain National Park,Fungi,Trichiales,Trichiaceae,Trichia,subfusca,None,In Review,Present,NaN,NaN,NaN,NaN
96947,ROMO-3994,Rocky Mountain National Park,Fungi,Trichiales,Trichiaceae,Trichia,varia,None,In Review,Present,NaN,NaN,NaN,NaN

In [6]:
#total number of entries that are mistaken
num_bad_entries = test[~(test['Record Status'].isin(['Approved', 'In Review']))]['Species ID'].count()

num_entries = test['Species ID'].count()

print('percentage of bad entries', num_bad_entries/num_entries*100)

percentage of bad entries 0.0477995438078626

In [7]:
plant_pollinator_1 = pd.read_csv('data/plant_pollinator_diversity_set1.csv')
plant_pollinator_2 = pd.read_csv('data/plant_pollinator_diversity_set2.csv')

In [9]:
plant_pollinator_1['SAMPLEDATE'].value_counts()

2018-07-12    2032
2018-06-27    1687
2017-07-14    1254
2011-07-25    1193
2018-07-03    1140
              ...
2017-06-28      18
2013-08-20      16
2011-09-11      10
2011-07-20       4
2012-07-13       2
Name: SAMPLEDATE, Length: 198, dtype: int64

In [16]:
plant_pollinator_2['SAMPLEDATE'].value_counts()

2012-07-12    340
2011-08-02    306
2012-07-17    296
2012-07-10    281
2011-08-04    264
             ...
2011-07-24      1
2013-08-02      1
2013-07-08      1
2014-07-25      1
2013-06-28      1
Name: SAMPLEDATE, Length: 214, dtype: int64

In [17]:
#both datasets cover observations from 2011 to 2018

In [18]:
plant_pollinator_1.head()

,DBCODE,ENTITY,COMPLEX,MEADOW,PLOT_ID,YEAR,SAMPLEDATE,WATCH,OBSERVER,PLOT,...,PPI_STATUS,NO_INT,PLTSP_CODE,PLTSP_NAME,VISSP_CODE,VISSP_NAME,VISSP_TYPE,REF_NO,VISSP_NO,QC_NOTES
0,SA026,1,Bunchgrass,BD,BGD01,2011,2011-07-24,2.0,NaN,1,...,1,2.0,ACHIMILL,Achillea millefolium,EPICPUNC,Epicauta puncticollis,predaceous beetle,NaN,1,NaN
1,SA026,1,Bunchgrass,BD,BGD01,2011,2011-07-24,2.0,NaN,1,...,1,1.0,ACHIMILL,Achillea millefolium,EVYLS5M,Evylaeus sp 5M,halictine bee,NaN,1,NaN
2,SA026,1,Bunchgrass,BD,BGD01,2011,2011-07-24,2.0,NaN,1,...,1,2.0,ERIGFOLI,Erigeron foliosus,MUSCGEN3,Muscoid genus 3,herbivorous muscoid fly,NaN,1,NaN
3,SA026,1,Bunchgrass,BD,BGD01,2011,2011-07-24,2.0,NaN,1,...,1,2.0,ERIGFOLI,Erigeron foliosus,MUSCGEN3,Muscoid genus 3,herbivorous muscoid fly,NaN,2,NaN
4,SA026,1,Bunchgrass,BD,BGD01,2011,2011-07-24,2.0,NaN,1,...,1,2.0,ERIGFOLI,Erigeron foliosus,TRICORNA,Trichodes ornatus,bee-parasitic beetle,NaN,1,NaN

In [20]:
plant_pollinator_1.pivot(index = 'YEAR', columns = 'VISSP_NAME')

TypeError: pivot() missing 1 required argument: 'columns'